# Copyright (C) 2026 jolyne-nyah. Licensed under GNU GPL v3.
# This program comes with ABSOLUTELY NO WARRANTY.
# See <https://gnu.org> for details.

/source/bridge_updater/bridge_updater
/source/vm_manage/vmm
*.json
/source/go.work
/source/go.work.sum
!conf_example.json
!config.schema.json
!brupd_conf.json
.vagrant
.vscode
.ansible
build/*
!build/.gitkeep
*.log